/* Clear margin and padding on site */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
}

* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.columnContent {
  flex: 80%;
}

.columnSidebar {
  flex: 20%;
}


.App {
  text-align: center;
  height: 100%;
}



/* NAVIGATION */

/* Remove dots on list nav */
ul {
  list-style-type: none;
}

li {
  /* Padding on the list nav to space things out */
  padding: 0 8px 0 8px;
  /* Make list nav horziontal and center align */
  display: inline-block;
}

/* IMAGES */
.defaultSize {
  width: 350px;
  height: 300px;
}